

 img {
  display: block;
  margin-top: 8%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
  border: 0.2px solid #ddd;
  padding: 1px;
  height: 250px;
  width: 250px;
  
}

 img:hover {
  box-shadow: 0 0 5px 5px rgba(0, 110, 255, 0.616)
}
html {
  background: url(background1.jpg) no-repeat center fixed;
  background-size: cover;
}
section {
  font-size:18px;
  text-align: center;
  margin-bottom:-5px;
  padding: 0px ;
  line-height: 0.3;
  text-shadow: 2px 2px 5px whitesmoke;
  font-family: "Lucida Console", Courier, monospace;
}


header div {
  text-align: right;
  font-size: 18px;
  border: 1px hidden black;
  margin: 0px ;
  padding: 0px 5px;
  
}
/* unvisited link */
a:link {
  color: rgb(214, 214, 214);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(214, 214, 214);
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: rgb(214, 214, 214);
  text-decoration: underline;
}

/* selected link */
a:active {
  color: rgb(218, 214, 214);
  text-decoration: none;
}
header div p{
  float: left;
  margin: 0px;
  padding-left: 4px;
  border-left: 1px solid rgba(150, 150, 150, 0.568);
  display: inline-flex;
  
}

article p{
  
  margin-left: 5px;
  margin-right: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
article{
  color: aliceblue;
}
.skills{
  width: 500px;
  margin: 60px auto;
  color: white;
}
.skills li{
  margin: 20px 0;
}
.bar{
  background: #353b48;
  display: block;
  height: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: #2187e7b3;
}
.bar span{
  height: 2px;
  float: left;
  background: #2187e7;
}
.html{
  width: 90%;
  animation: html 2s;
}
.css{
  width:80%;
  animation: css 2s;
}
.js{
  width: 35%;
  animation: js 2s;
}
.python{
  width: 60%;
  animation: python 2s;
}

@keyframes html{
  0%{
    width: 0%;
  }
  100%{
    width: 90%;
  }
}
@keyframes css{
  0%{
    width: 0%;
  }
  100%{
    width: 80%;
  }
}
@keyframes js{
  0%{
    width: 0%;
  }
  100%{
    width: 35%;
  }
}
@keyframes python{
  0%{
    width: 0%;
  }
  100%{
    width: 60%;
  }
}
  
